:root {
  --color-body: #F5F8FA;
  --color-hyperlink: #003f66;
  --color-title-background: #1DA1F2;
  --color-title-text: #ffffff;
  --color-footer-header-background: #1DA1F2;
  --color-footer-header-text: #ffffff;
  --color-section-header-background: #657786;
  --color-section-header-text: #ffffff;
  --color-section-subheader-background: #657786;
  --color-section-subheader-text: #ffffff;
  --color-section-background: #AAB8C2;
  --color-section-text: #ffffff;  
  --color-subsection-background: #E1E8ED;
  --color-subsection-text: #000000;
}